<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ISyncService" />
                <binding name="NetNamedPipeBinding_IAppInvokerService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/Sync/service" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_ISyncService" contract="SyncServiceReference.ISyncService"
                name="NetNamedPipeBinding_ISyncService">
                <identity>
                    <servicePrincipalName value="host/JustinWork-PC" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/appInvoker/service" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IAppInvokerService"
                contract="AppInvokerServiceReference.IAppInvokerService" name="NetNamedPipeBinding_IAppInvokerService">
                <identity>
                    <servicePrincipalName value="host/JustinWork-PC" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>